<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/show" method="POST">
      <label for="pirate_name"> Pirate Name</label>
      <input id="pirate_name" type="text" name="pirate[name]">
      <label for="pirate_weight"> Pirate Weight</label>
      <input type="text" name="pirate[weight]">
      <label for="pirate_height"> Pirate Height</label>
      <input type="text" name="pirate[height]">
      <label for="ship_name_1"> Ship Name</label>
      <input type="text" name="pirate[ships][][name]">
      <label for="ship_type_1"> Ship Type</label>
      <input type="text" name="pirate[ships][][type]">
      <label for="ship_booty_1"> Ship Booty</label>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
      <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
      <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>
