<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/show" method="POST">
      <p>Pirate Name: <input type="text" name="pirate[name]"></p>
      <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
      <p>Pirate Height: <input type="text" name="pirate[height]"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
